name: Run process.py every 5 minutes

on:
  repository_dispatch:
    types: [trigger-process]  # This "event_type" is your custom trigger name
  workflow_dispatch:

jobs:
  run-process:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Run process.py
        run: python process.py
